<p></p>
<div class="container">
    
    <div class="grid-container">
        <div style="grid-area: main;">
            <h6>Welcome! Select a module to test Micro-FrontEnd.</h6><br>
            <div class="row">

           
            <div class="col-sm-2 eom-host-home-card-style">
                
              <div class="card text-white bg-secondary">
                <div class="card-body">
                  <h5 class="card-title">Module App One</h5>
                  <p class="card-text">Module under maintenance.</p>
                  <select class="form-select" aria-label="Default select example">
                    <option selected>select..</option>
                  </select><br>
                  <p><a class="btn btn-success disabled" routerLink="/">Proceed</a></p>
                </div>
              </div>
            </div>
            <div class="col-sm-2 eom-host-home-card-style">
                <div class="card card text-white bg-primary">
                  <div class="card-body">
                    <h5 class="card-title">Module App Title</h5>
                    <p class="card-text">Select an item from dropdown.</p>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>select..</option>
                        <option value="1">Titles</option>
                        <option value="2">Title Description</option>
                      </select><br>
                      <p><a class="btn btn-success" routerLink="/titles2">Proceed</a></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-2 eom-host-home-card-style">
                <div class="card card text-white bg-secondary">
                  <div class="card-body">
                    <h5 class="card-title">Module App Three</h5>
                    <p class="card-text">Module under maintenance.</p>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>select..</option>
                      </select><br>
                      <p><a class="btn btn-success disabled" routerLink="/">Proceed</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  
</div>
