<br>
<h5>(REMOTE APP) TITLE INFORMATION</h5>
<div class="card">
    <div class="card-body">
        <p>Title Number: 12398</p>
        <p>Owner's Name: Ramjie Lee</p>
        <p>Owner's Address: Block 2 lot 44 somewhere street Gen. Santos City</p>
    </div>
</div><br>

<div class="card">
    <div class="card-body">
        <p>Technical Description: add informatiopn hereeeee</p>
        <p>Area: 1224.90 SQM</p>
        <p>Lot Address: Brgy. Somewhere South Cotabato Gen. Santos City</p>
    </div>
</div>
<br>
<div class="card">
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Item No.</th>
                <th scope="col">Attribute A</th>
                <th scope="col">Attribute B</th>
                <th scope="col">Attribute C</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>werty</td>
                <td>sefsef</td>
                <td>2345678</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>ytgfrd</td>
                <td>ferereg</td>
                <td>564356</td>
              </tr>
              
            </tbody>
          </table>
    </div>
</div>

