<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#" style="margin-left: 20px;">EOLite</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/">Home <span class="sr-only"></span></a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/todo">Todo-List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/otherproject">Other Project</a>
          </li> -->
        </ul>
  
        
      </div>
      <form class="d-flex">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     Admin, Administrator
                </a>
               
            </li>
        </ul>
    </form>
    </nav>
    <router-outlet></router-outlet>
  
   
  </div>

<!-- <h1>HOST APPLICATION</h1>
<a routerLink="">home</a>&nbsp;
<a routerLink="/titles">Open Title</a>&nbsp;
<a routerLink="/titles2">Open Remote App(Inside Workspace)</a>&nbsp;
<a routerLink="/dmsTest">Open External App(External Application)</a>
<router-outlet></router-outlet> -->